<p id="notice"><%= notice %></p>

<div class="container">
  <div class="header">
    <h3>
      <%= @post.name %>
    </h3>

    <h4>
      <%= @post.brewery %>
    </h4>
  </div>

  <div class="row">
    <div class="col-md-6" id="post-images">
      <%= image_tag (@post.label) %>
    </div>

    <div class="col-md-6">
      <div class="details">
        <p>
          <strong>Style:</strong>
          <%= @post.style %>
        </p>

        <p>
          <strong>Abv:</strong>
          <%= "#{@post.abv} %"%>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @post.description %>
        </p>
      </div>


      <div class="review">
        <h4>Reviews</h4>
        <%= link_to "Add Review", new_post_review_path(@post, @review), class: "link" %>
        <% @post.reviews.each do |review| %>
          <div class="review-details">
            <p><strong>Score:</strong> <%= review.score %></p>
            <p><strong>Aroma:</strong> <%= review.aroma %></p>
            <p><strong>Appearance:</strong> <%= review.appearance %></p>
            <p><strong>Taste:</strong> <%= review.taste %></p>
            <p><strong>Palate:</strong> <%= review.palate %></p>
            <p><strong>Overall:</strong> <%= review.overall %></p>
            <%= link_to "Delete |", post_review_path(@post,review), method: :delete, data: {confirm: "Really delete the review?"}, class: "link"%> 
            <%= link_to " Edit", edit_post_review_path(@post, review), class: "link" %>
          </div>
        <% end %>
      </div>
    </div>
    
  </div>

  

  <%= link_to 'Back', posts_path, class: "link" %>
</div>
